$('table#find_similar').show();
$("table#find_similar > tbody").html("");
<% @artists.each do |artist| %>
  $('table#find_similar tbody:last').append('<tr><td><%= artist.name %></td><td><%= artist.location.location %></td><td><%= number_with_precision(artist.hotttnesss, :precision => 2)%></tr>');
<% end %>
<% if @artists.none? %>
    $('table#find_similar tbody:last').append('<tr><td>Nothing found for "<%= params[:artist_name] %>"</td></tr>');
<% end %>
$('table#find_similar').focus();
