	<div class="hero-unit">
    <h1>Echowrap
      <div style="float:right;">
      <i class="icon-headphones"></i>
      </div>
    </h1>
      <p id="tagline">
        A Ruby interface to The Echo Nest API
			</p>
			<p id="actions">
				<a href="#quickstart" class="btn btn-large btn-custom"><i class="icon-magic icon-large"></i>&nbsp;&nbsp;
Quick Start</a>
				<a href="#demos" class="btn btn-large btn-custom"><i class="icon-play icon-large"></i>&nbsp;&nbsp;
              Demos</a> 
				<a href="#about" class="btn btn-large btn-custom"><i class="icon-male icon-large"></i>&nbsp;&nbsp;About</a>
				<a href="https://github.com/timcase/echowrap" target="_blank" onclick="_gaq.push(['_trackEvent', 'action', 'click', 'githubsource']);" class="btn btn-large btn-custom"><i class="icon-github icon-large"></i>&nbsp;&nbsp;Github Source</a>
				<a href="https://github.com/timcase/echowrap/wiki" target="_blank" onclick="_gaq.push(['_trackEvent', 'action', 'click', 'documention']);" class="btn btn-large btn-custom"><i class="icon-book icon-large"></i>&nbsp;&nbsp;Docs</a>
			</p>
		</div>
    <div class="row">
      <div id="explanation" class="span12">
        <p class="lead"><a href="http://echonest.com/" target="_blank">The Echo Nest</a> is the world’s leading music intelligence company. 
        They provide the largest repository of dynamic music data in the world – over a trillion data points on over 30 million songs -- 
        to help application developers build smarter music apps.</p>
        <p class="lead">Echowrap provides a Ruby interface to The Echo Nest API:</p>
        <ul> 
          <li>Echowrap supports 100% of the Echonest API Version 4</li>
          <li>Data returned from API calls are mapped into Ruby objects</li>
          <li>Various http clients are supported via Faraday</li>
          <li>Uses Unix philosophy of "do one thing and do it well"</li>
        </ul>
        <h2>Some things you can do via the API</h2>
        <ul>
          <li>Analyze a track to find it's key, energy level, danceability, acousticness, and whether it's live or studio</li>
          <li>Break down a track by it's sections, beats, and fractions of a beat</li>
          <li>Identify an unknown piece of music</li>
          <li>Search for artists using a wide variety of criteria and get in-depth info about an artist:
            <ul>
              <li>The artist's location</li>
              <li>Blogs associated witht the artist</li>
              <li>The artist Bio</li>
              <li>Numerical rating of how familiar the artist is</li>
              <li>Numerical rating of how "hot" the artist is</li>
              <li>News associated with the artist</li>
              <li>Reviews of work by the artist</li>
              <li>List songs by the artist</li>
              <li>Find other similar artists to a particular artist</li>
              <li>The artist's twitter feed</li>
              <li>Videos of the artist</li>
              <li>Notable url related to artist</li>
            </ul>
          </li>
          <li>Create taste profiles to track what you like
          <li>Find more music that you may like based on your taste profile</li>
          <li>Create playlists based on your tastes</li>
      </ul>
      </div>
    </div>
	
		<div class="row">
			<div id="quickstart" class="big-height span12">
				<h2>Quickstart</h2>
        <ol>
          <li>Create an account at Echonest <a href="https://developer.echonest.com/account/register" target="_blank" >click here to go the Echonest API Signup page</a>.</li>
          <li>Activate your Echonest account by clicking the link in the Activation email you should receive.</li>
          <li>You will see your account is activated, and you should see your API Key, Consumer Key, and Shared Secret.  Initial API request limit is 10 API calls per hour.</li>
          <li><pre><code>$ gem install echowrap</code></pre></li>
          <li><pre><code>$ irb</code></pre></li>
          <li><pre><code>> require 'echowrap'
         => true</code></pre></li>
          <li><pre><code>> Echowrap.configure do |config|
    config.api_key = 'YOUR API KEY'
    config.consumer_key = 'YOUR CONSUMER KEY'
    config.shared_secret = 'YOUR SHARED SECRET'
end
=> Echowrap</code>
              </pre>
         </li>
         <li><pre><code>Echowrap.artist_search(:name => 'daft', :results => 3)
           => [#<Echowrap::Artist:0x007ff13b0b8748 @attrs={:name=>"Daft Punk", :id=>"ARF8HTQ1187B9AE693"}>, 
               #<Echowrap::Artist:0x007ff13b0b86f8 @attrs={:name=>"Daft Punk+Fool", :id=>"ARPNDFM13E43CE6D63"}>, 
               #<Echowrap::Artist:0x007ff13b0b86d0 @attrs={:name=>"Daft Punk/Avicii", :id=>"ARPKVEU136F6F0CD19"}>]</code></pre></li>
        </ol>
			</div>
    </div>
    <div class="row">
      <div id="demos" class="big-height span12">
        <h2>Demos</h2>
        <div class="span11">
          <%= form_tag('/artists/find_similar', method: 'get', remote: true) do %>
            <fieldset>
              <legend>Find Similar Artists</legend>
              <label>Artist Name</label>
              <input name="artist_name" type="text" placeholder="Find similar artists to...">
              <span class="help-block">ex. AC/DC, Macklemore, Vampire Weekend<span>
              <button type="submit" class="btn">Submit</button>
            </fieldset>
          <% end %>
            <table class="table" id="find_similar">
              <thead><tr><th>Name</th><th>Location</th><th>Hotttnesss</th></tr></thead>
              <tbody>
              </tbody>
            </table>
            <pre>
              <code>
  def find_similar
    @artists = Echowrap.artist_similar(:name => params[:artist_name], :bucket => ['artist_location', 'hotttnesss'])
    @artists = @artists.sort{|a, b| a.hotttnesss <=> b.hotttnesss}.reverse
  end
              </code>
            </pre>
        </div>
        <div class="span11">
          <%= form_tag('/artists/find_songs', method: 'get', remote: true) do %>
            <fieldset>
              <legend>Find Artist's Songs</legend>
              <label>Artist Name</label>
              <input name="artist_name" type="text" placeholder="Find songs for artist...">
              <span class="help-block">ex. Daft Punk, Radiohead, Kendrick Lamar<span>
              <button type="submit" class="btn">Submit</button>
            </fieldset>
          <% end %>
            <table class="table" id="find_songs">
              <thead><tr><th>Title</th></tr></thead>
              <tbody>
              </tbody>
            </table>
            <pre>
              <code>
  def find_songs
    @songs = Echowrap.artist_songs(:name => params[:artist_name])
  end
              </code>
            </pre>
        </div>
        <div class="span11">
          <%= form_tag('/artists/find_images', method: 'get', remote: true) do %>
            <fieldset>
              <legend>Find Artist's images</legend>
              <label>Artist Name</label>
              <input name="artist_name" type="text" placeholder="Find images for artist...">
              <span class="help-block">ex. LCD Soundsystem, Empire of the Sun, Eminem<span>
              <button type="submit" class="btn">Submit</button>
            </fieldset>
          <% end %>
            <table class="table" id="find_images">
              <thead><tr><th>Image</th></tr></thead>
              <tbody>
              </tbody>
            </table>
            <pre>
                <code>
  def find_images
    @images = Echowrap.artist_images(:name => params[:artist_name])
  end
                </code>
            </pre>
        </div>
        <div class="row">
          <div id="about" class="big-height span12">
            <h2>About</h2>
            <p>Echowrap was built by <a href="http://www.timcase.info/">Tim Case, who likes building audio projects both software and hardware.</a></p>
            <p>He plays music under the moniker <a href="http://blastinmartin.com">Blastin Martin</a>.</p>
<img src="http://user.photos.s3.amazonaws.com/user_195240.jpg"/>
            <p>Contact: <a href="mailto:tim@2drops.net">tim@2drops.net</a>
          </div>
        </div>
      </div>
    </div>
